{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block description %}{{ post.title }}{% endblock %}

{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ post.title }}</h1>
    <small>
        Created: {{ post.created_on.date }} |&nbsp;
        Modified: {{ post.last_modified.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | safe }}</p>
</div>
{% endblock %}

