{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!--== Meta Tags ==-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <meta name="author" content="Lane Moseley">

  <title>Lane Moseley | {% block title %}{% endblock %}</title>

  <meta name="description" content="Professional portfolio for Lane Moseley, a Software Development Engineer specializing in back-end database design and development.">
  <meta name="keywords" content="Lane Moseley, Lane Moseley Portfolio, Back-end Development, Database Development, Software Engineer">
  <meta name="canonical" href="{{request.path}}"/>
  <meta name="home" href="{% url 'project_index' %}"/>

  <!--== Favicon ==-->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="static/site.webmanifest">

</head>
  
  <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'project_index' %}">LM Portfolio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'project_index' %}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_index' %}">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about_detail' %}">About</a>
          </li>
        </ul>
        <a href="https://www.linkedin.com/in/lane-moseley/" class="fa fa-linkedin"></a>
        <a href="https://github.com/lanemoseley" class="fa fa-github"></a>
      </div>
    </div>
    
  </nav>
  
  <div class="container">
    {% block page_content %}{% endblock %}
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</html>
