{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block description %}Professional portfolio for Lane Moseley, a Software Development Engineer specializing in back-end database design and development.{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col-md-4">
        <img src="{{ post.image.url }}" alt="" width="100%">
    </div>
    <div class="col-md-8">
            <h1>{{ post.title }}</h1>
        <small>
            {{ post.created_on.date }}
        </small>
        <p>{{ post.body | safe }}</p>
    </div>
</div>
{% endblock %}
