{% extends "base.html" %}

{% block title %}{{ project.title }}{% endblock %}

{% block description %}{{ project.title }}{% endblock %}

{% load markdown_extras %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-6">
        <small>
            Created: {{ project.created_on.date }} |&nbsp;
            Modified: {{ project.last_modified.date }} &nbsp;
        </small>
        <p>{{ project.description | markdown | safe }}</p>
        <br>
        <h5>Technologies:</h5>
        <p>{{ project.technology }}</p>
        {% if project.url %}
            <h5>Source:</h5>
            <p><a href="{{ project.url }}">{{ project.url }}</a></p>
        {% endif %}
    </div>
    <div class="col-md-6">
        <img src="{{ project.image.url }}" alt="" width="60%">
    </div>
</div>
{% endblock %}

