{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block description %}Professional portfolio for Lane Moseley, a Software Development Engineer specializing in back-end database design and development.{% endblock %}

{% load markdown_extras %}

{% block page_content %}
<br>
<div class="row">
{% for project in projects %}
    <div class="col-md-4 mb-4">
        <div class="card mb-2 d-flex flex-column h-100">
            <img class="card-img-top" src="{{ project.image.url }}"
                style="width: 100%; height: 250px; object-fit: contain;">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description | truncatechars:100 | markdown | safe }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

